

    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="marque" class="form-label">Marque</label>
                <input type="text" placeholder="Marque" class="form-control" id="marque" name="marque">
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Modèle</label>
                <input type="text" placeholder="Modèle" class="form-control" id="modele" name="modele">
            </div>
            <div class="mb-3">
                <label for="couleur" class="form-label">Couleur</label>
                <input type="text" placeholder="Couleur" class="form-control" id="couleur" name="couleur">
            </div>
            <div class="mb-3">
                <label for="immatriculation" class="form-label">Immatriculation</label>
                <input type="text" placeholder="Immatriculation" class="form-control" id="immatriculation" name="immatriculation">
            </div>
            <button type="submit"  class="btn btn-primary">Ajouter ce véhicule</button>
        </form>
    </div>
